<div class="login-container">
  <div class="login-box">
    <div class="logo-container">
      <mat-icon svgIcon="nail-polish"></mat-icon>
    </div>

    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input matInput placeholder="Digite seu usuário" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input matInput type="password" placeholder="Digite sua senha" formControlName="password" />
      </mat-form-field>
    </form>

    <button mat-flat-button color="primary" class="login-button" (click)="login()">LOGIN</button>

    <a href="#" class="forgot-password">Esqueceu a senha?</a>
  </div>
</div>
