.active-menu,
a.mat-list-item.active-menu {
  background: var(
    --mdc-list-item-selected-state-layer-color,
    rgba(60, 60, 60, 0.12)
  );
}

a.mat-mdc-list-item {
  padding: var(--mat-sys-corner-large) 23px;

  .active-icon {
    color: var(--mdc-theme-primary, #1976d2) !important;
  }

  .active-text {
    color: var(--mdc-theme-primary, #1976d2) !important;
  }
}

.submenu {
  padding-left: 32px;
  background: transparent;
}